<div class="turnt-container">
  <div class="card" *ngFor="let month of data">
    <div class="card-header month" (click)="toggleExpand(month)">
      {{month.Month}}
      <div class="pull-right">
        <i class="fa fa-minus" *ngIf="month.Expanded"></i>
        <i class="fa fa-plus" *ngIf="!month.Expanded"></i>
      </div>
    </div>
    <div class="card-body month-body" *ngIf="month.Expanded">
      <div *ngFor="let day of month.Days" class="card">
        <div class="card-header day">
          {{day.PrettyDate}}
        </div>
        <div class="event-container card-body">
          <div *ngFor="let event of day.Events" class="turnt-event card">
            <div>
              <a target="_blank" [href]="event.EventUrl">
                <button type="button" *ngIf="event.Prices.length>0" class="btn btn-primary ticket-button">{{event.PricesPretty}}</button>
                <button type="button" *ngIf="event.Prices.length==0" class="btn btn-primary ticket-button">Event Page</button>
              </a>
            </div>
            {{event.PerformersPretty}}
            <div class="venue">{{event.Venue.Name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
